.sidebar{

    width:240px;

    min-height:calc(100vh - 70px);

    background:#1e293b;

    color:white;

}



.sidebar-logo{

    padding:20px;

    text-align:center;

    border-bottom:1px solid #334155;

}



.sidebar-menu{

    list-style:none;

    padding:20px;

}



.sidebar-menu a{

    text-decoration:none;

    color:white;

}



.sidebar-menu li{

    padding:15px;

    margin-bottom:10px;

    border-radius:8px;

    cursor:pointer;

}



.sidebar-menu li:hover{

    background:#334155;

}



.active-link li{

    background:#2563eb;

}



.logout-btn{

    margin-top:20px;

    background:#dc2626;

}



.logout-btn:hover{

    background:#b91c1c;

}