.navbar{

    height:70px;

    background:#2563eb;

    color:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

}


.logo h1{

    font-size:22px;

}


.profile{

    font-size:16px;

    font-weight:600;

}