.dashboard{

    padding:30px;

}



.dashboard h1{

    margin-bottom:30px;

}



.card-container{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}



.card{

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);

    text-align:center;

}



.card h3{

    color:#475569;

}



.card p{

    font-size:35px;

    font-weight:bold;

    color:#2563eb;

}