.layout{

    min-height:100vh;

    display:flex;

    flex-direction:column;

}



.main{

    display:flex;

    flex:1;

}



.content{

    flex:1;

    padding:25px;

    background:#f8fafc;

    overflow-y:auto;

}